<mat-toolbar color="primary" class="toolBar">
  <span class="example-toolbar-title">Meditrack</span>

  <button mat-icon-button color="link" (click)="goToHome()" >
    <mat-icon>home</mat-icon>
  </button>

</mat-toolbar>

  <h1> Inserire Username del paziente desiderato  </h1>

<form (ngSubmit)="searchPatient()" class="page-container ">
  <mat-form-field >
    <mat-label>Username</mat-label>
    <input matInput type="text" class="form-control" placeholder="Enter username" id="patName" name="patName" required [(ngModel)]="patName">
  </mat-form-field>
  <button  mat-raised-button type="submit" color="primary" >
    <mat-icon> search </mat-icon>
      cerca
  </button>
</form>

<div *ngIf="foundPatient != null" class="d-flex flex-wrap">

  <mat-card class="example-card">
    <mat-card-subtitle> Dettagli Paziente</mat-card-subtitle>
    <mat-card-content>

      <p> Nome : {{foundPatient.name}}</p>
      <p> Username : {{foundPatient.username}}</p>
      <p> Nome: {{foundPatient.name}}</p>
      <p> Cognome : {{foundPatient.surname}}</p>
      <p> Codice Fiscale: {{foundPatient.cf}}</p>

      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color ="primary" class="btn btn-success mr-2" (click)="addPatient()">Add patient</button>
      <button mat-raised-button color = "warn"  class="btn btn-danger" (click)="removePatient()">Remove patient</button>
    </mat-card-actions>
  </mat-card>

</div>




