<mat-toolbar color="primary" class="toolBar">
  <span class="example-toolbar-title">Meditrack</span>

  <button mat-icon-button color="link" (click)="goToHome()" >
    <mat-icon>home</mat-icon>
  </button>

</mat-toolbar>

<form (ngSubmit)="loginUser()" class="page-container ">
  <mat-form-field class="form-field">
    <mat-label>Username</mat-label>
    <input matInput type="text" class="form-control" placeholder="Enter username" id="username" name="username" [(ngModel)]="userData.username">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Enter password" id="password" name="password" [(ngModel)]="userData.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

    <div id="doctorFields" class="form-group" style="display:none;">
      <button mat-fab extended="true" color="primary" type="submit" class="btn btn-primary" >
        <mat-icon>account_circle</mat-icon>
          login Dottore
      </button>
    </div>

    <div id="patientFields" class="form-group" style="display:none;">
      <button mat-fab extended="true" color="primary" type="submit" class="btn btn-primary" >
        <mat-icon>account_circle</mat-icon>
          login paziente
      </button>
    </div>

</form>



