<div class="page-container">
  <mat-toolbar color="primary" class="toolBar">
    <span class="example-toolbar-title">Meditrack</span>

    <button mat-icon-button color="link" (click)="goToHome()" >
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <div class="row">
      <h2>Plan info</h2>
      <form (ngSubmit)="saveGeneralInfo()">
      <div class="form-group">
        <mat-form-field >
          <mat-label>Name</mat-label>
          <input matInput type="text" class="form-control" placeholder="Inserisci Plan Name" id="planName" name="planName" required [(ngModel)]="planData.name" [value]="plan.name">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Length in days:</mat-label>
          <input matInput type="number" class="form-control" placeholder="Inserisci Plan's lenght " id="planLength" name="planLength" required [(ngModel)]="planData.planLength" [value]="plan.length">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Type</mat-label>
          <input matInput type="text" class="form-control" placeholder="Inserisci Tipo Piano " id="planType" name="planType" required [(ngModel)]="planData.type" [value]="plan.type">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" class="update-button">Update plan</button>
      </div>
    </form>

      <div class="table-container">
        <h2> Medicines </h2>
        <table mat-table  [dataSource]="plan.medicines" class="medicines-table">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let medicine"> {{ medicine.id }} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let medicine"> {{ medicine.name }} </td>
          </ng-container>

          <ng-container matColumnDef="dosage">
            <th mat-header-cell *matHeaderCellDef> Dosage </th>
            <td mat-cell *matCellDef="let medicine"> {{ medicine.dosage }}mg </td>
          </ng-container>

          <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
            <td mat-cell *matCellDef="let medicine"> {{ medicine.manufacturer }} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let medicine">
             <button mat-raised-button (click)="removeMedicine(medicine)" color="warn">Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="medicineColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: medicineColumns;"></tr>
        </table>
      </div>

      <button mat-raised-button color ="primary" class="update-button" (click)="updatePlan()">Update medicines</button>

      <h2>Search and add medicines</h2>

      <mat-form-field>
        <input matInput type="text" placeholder="Search Medicine" name="searchText" #searchBox>
      </mat-form-field>

      <button mat-raised-button color ="primary" class="search-medicine-button" (click)="searchMedicine(searchBox.value)">Search</button>

      <div *ngIf="searchResults != null">
        <div *ngFor="let med of searchResults; let i = index" [attr.id]="'r' + med.id" class="medicine-container">

          <mat-card class="medicine-card">
            <mat-card-subtitle> #{{i + 1}} </mat-card-subtitle>
            <mat-card-content>

              <p> Name : {{med.name}}</p>
              <p> Dosage: {{med.dosage}}mg</p>
              <p> Manufacturer : {{med.manufacturer}}</p>

              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color ="primary" class="btn btn-success mr-2" (click)="addMedicineToPlan(med)">Add medicine</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>
