/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-image: radial-gradient(circle, #e0e0e0, #90caf9); /* Grigio scuro a blu medio */



}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

; }
