<mat-toolbar color="primary" class="toolBar">
  <span class="example-toolbar-title">Meditrack</span>

  <button mat-icon-button color="link" (click)="goToHome()" >
    <mat-icon>home</mat-icon>
  </button>

</mat-toolbar>



<button class="btn btn-success mr-2" (click)="updateUser()">Update data
  <mat-icon>home</mat-icon>
</button>

<h1>User info:</h1>

<div *ngIf="user">

  <mat-list role="list" class="mat-list" >
    <mat-list-item class = "mat-list-item" role="listitem">Nome: {{ user.name }}</mat-list-item>
    <mat-list-item class = "mat-list-item" role="listitem">Cognome: {{ user.surname}}</mat-list-item>
    <mat-list-item class = "mat-list-item" role="listitem">E-mail: {{ user.email }}</mat-list-item>
    <mat-list-item class = "mat-list-item" role="listitem">Anno di nascita: {{ user.birthDate }}</mat-list-item>
    <mat-list-item class = "mat-list-item" role="listitem">Codice Fiscale: {{ user.cf }}</mat-list-item>

    <ng-container  *ngIf="sessionStorage.getItem('userType') == 'doctor'">
      <mat-list-item class = "mat-list-item" role="listitem">Doctor ID: {{ user.doctorId }}</mat-list-item>
      <mat-list-item class = "mat-list-item" role="listitem">Specializzazione: {{ user.spec }}</mat-list-item>
      <mat-list-item class = "mat-list-item" role="listitem">Availability: {{ user.docAvailTime }}</mat-list-item>
      <mat-list-item class = "mat-list-item" role="listitem">Codice Fiscale: {{ user.cf }}</mat-list-item>
    </ng-container>

    <ng-container *ngIf="sessionStorage.getItem('userType') == 'patient'">
      <mat-list-item role="listitem">Tessera Sanitaria code: {{user.tscode}}</mat-list-item>
    </ng-container>

  </mat-list>


  <div *ngIf="sessionStorage.getItem('userType') == 'doctor'">

    <h1>List of patients:</h1>

    <table class="table table-striped" >
      <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Codice Fiscale</th>
        <th>Tessera Sanitaria code</th>
      </tr>
      </thead>
      <tbody *ngIf="user.patients">
      <tr *ngFor="let pat of user.patients" [attr.id]="'r' + pat.username">
        <td>{{pat.username}}</td>
        <td>{{pat.name}}</td>
        <td>{{pat.surname}}</td>
        <td>{{pat.cf}}</td>
        <td>{{pat.tscode}}</td>
      </tr>
      </tbody>
    </table>


  <div *ngIf="sessionStorage.getItem('userType') == 'patient'">

    <h1>List of plans</h1>
    <div *ngIf="user.plans">
      <div *ngFor="let plan of user.plans" [attr.id]="'r' + plan.username">
        <div class="card-body">
          <div *ngIf="plan">
            <p>Name: {{plan.name}}</p>
            <p>Type: {{plan.type}}</p>
            <p>Length: {{plan.length}}</p>

            <div class="d-flex flex-wrap">
              <button class="btn btn-success mr-2" (click)="editPlan(plan.id)">Modifica</button>
              <button class="btn btn-danger" (click)="removePlan(plan.id)">Cancella</button>

            </div>
          </div>
        </div>
      </div>
    </div>


    <h1>List of doctors</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Specialization</th>
        <th>Availability</th>
      </tr>
      </thead>
      <tbody *ngIf="user.doctors">
      <tr *ngFor="let doc of user.doctors" [attr.id]="'r' + doc.username">
        <td>{{doc.username}}</td>
        <td>{{doc.name}}</td>
        <td>{{doc.surname}}</td>
        <td>{{doc.spec}}</td>
        <td>{{doc.docAvailTime}}</td>
      </tr>
      </tbody>
    </table>
  </div>





