.toolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolBar .example-toolbar-title {
  flex: 1;
}

.toolBar button {
  margin-left: auto; /* Sposta il pulsante tutto a destra */
}

.column-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  padding-left: 20px;
}

.form-row {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.form-field {
  width: calc(25% - 10px);
  margin-right: 20px;
  /*padding-left: 20px;*/
}


