<mat-toolbar color="primary" class="toolBar">
  <span class="example-toolbar-title">MediTrack</span>

  <button mat-icon-button color="link" (click)="goToHome()" >
    <mat-icon>home</mat-icon>
  </button>

</mat-toolbar>

<form (ngSubmit)="registerUser()" class="column-form" #registrationForm = "ngForm">
  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" class="form-control" placeholder="inserire nome" id="name" name="name" [(ngModel)]="userData.name" required>
      <mat-error *ngIf="registrationForm.controls['name'].invalid && registrationForm.controls['name'].touched">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Surname</mat-label>
      <input matInput type="text" class="form-control" placeholder="inserire cognome" id="surname" name="surname" [(ngModel)]="userData.surname" required>
      <mat-error *ngIf="registrationForm.controls['surname'].invalid && registrationForm.controls['surname'].touched">Surname is required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input matInput type="text" class="form-control" placeholder="inserire username" id="username" name="username" [(ngModel)]="userData.username" required>
      <mat-error *ngIf="registrationForm.controls['username'].invalid && registrationForm.controls['username'].touched">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input  matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="inserire password" id="password" name="password" [(ngModel)]="userData.password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      <mat-error *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched">Password is required</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Birth date</mat-label>
      <input matInput type="date" class="form-control" placeholder="inserire data" id="birthDate"  name="birthDate" [(ngModel)]="userData.birthDate" required>
      <mat-error *ngIf="registrationForm.controls['birthDate'].invalid && registrationForm.controls['birthDate'].touched">Birth date is required</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Codice Fiscale</mat-label>
      <input matInput type="text" class="form-control" placeholder="Inserire codice fiscale" id="cf" name="cf" [(ngModel)]="userData.cf" required>
      <mat-error *ngIf="registrationForm.controls['cf'].invalid && registrationForm.controls['cf'].touched">Codice Fiscale is required</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input matInput type="text" class="form-control" placeholder="Inserire email" id="email" name="email" [(ngModel)]="userData.email" required>
    <mat-error *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">Username is required</mat-error>
  </mat-form-field>

  <div id="doctorFields" class="form-group" style="display:none;">
    <mat-form-field class="form-field">
      <mat-label>Doctor ID</mat-label>
      <input matInput type="text" class="form-control" placeholder="inserire ID" id="doctorId"  name="doctorId" [(ngModel)]="userData.doctorId" >
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Specialization</mat-label>
      <input matInput type="text" class="form-control" placeholder="Specializzazione" id="spec" name="spec" [(ngModel)]="userData.spec" >
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Availability</mat-label>
      <input matInput type="text" class="form-control" placeholder="Inserire Disponibilità" id="docAvailTime" name="docAvailTime" [(ngModel)]="userData.docAvailTime">
    </mat-form-field>
  </div>


  <div class="form-row" id="patientFields"  style="display:none;">
    <mat-form-field class="form-field">
      <mat-label>Tessera Sanitaria code</mat-label>
      <input matInput type="text" class="form-control" placeholder="Inserire Tessera Sanitaria" id="tsCode" name="tsCode" [(ngModel)]="userData.tsCode" >
    </mat-form-field>
  </div>

  <button mat-raised-button class="bottone-reg" color="primary" type="submit" [disabled]="registrationForm.invalid">Register as a {{sessionStorage.getItem("userType")}}</button>

</form>

